@import './../abstracts/mixins';
%btnPattern {
  border: none;
  padding: 16px 48px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

%btn_text {
  font-family: 'Sen', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.btn_white {
  @include backgroundColorBtn($white);
  @extend %btnPattern;
  &_text {
    @extend %btn_text;
  }
}
.btn_yellow {
  @include backgroundColorBtn($yellow);
  @extend %btnPattern;
  &_text {
    @extend %btn_text;
  }
}
