@import './../../../app/scss/abstracts/textDeclaration';
.AboutUsAndOurMission {
  .main_body {
    margin: 0 80px 0 80px;
  }
  .separation {
    display: flex;
    .first_block {
      background-color: #ffffff;
      height: 23px;
      width: 20%;
    }
    .second_block {
      background-color: #ffd050;
      height: 23px;
      width: 60%;
    }
    .third_block {
      background-color: #592ea9;
      height: 23px;
      width: 20%;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    background-color: #f4f0f8;
    padding: 100px 0;
    .about_us {
      width: 515px;
      h1 {
        @include textDeclaration('Sen', 36px, 700, #232536, 20px);
      }
      h2 {
        @include textDeclaration('Inter', 16px, 600, #232536, 20px);
      }
    }
  }
  .description_text {
    @include textDeclaration('Inter', 16px, 400, #8f8f97, 20px);
    margin-bottom: 20px;
  }
  .reed_more {
    text-decoration: none;
    @include textDeclaration('Sen', 16px, 700, #592ea9, 0);
  }
  .our_mission {
    width: 516px;
    h1 {
      @include textDeclaration('Sen', 30px, 700, #232536, 20px);
    }
    h2 {
      @include textDeclaration('Inter', 16px, 600, #232536, 20px);
    }
  }
}
