@import './abstracts/mixins';
@import './abstracts/variables';
@import './base/reset';
@import './layout/header';
@import './layout/footer';
@import './../fonts/fonts';
@import './components/buttons';

// homePage
@import './components/homePage/postedOnStartup';
@import './components/homePage/homePosts';
@import './components/homePage/aboutUsAndOurMission';
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
