h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #232536;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 80px;
}
@media (max-width: 1050px) {
  .header {
    padding: 12px 40px;
  }
}
@media (max-width: 930px) {
  .header {
    padding: 12px 20px;
  }
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__menu__body {
  margin-right: 24px;
}
.header__menu__body__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__menu__body__link {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 24px;
}
.header__menu__body__text {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0;
}

.footer {
  padding: 40px 80px;
  background-color: #232536;
  display: flex;
  flex-direction: column;
}
.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}
.footer__menu {
  margin-right: 24px;
}
.footer__menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__menu__link {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 24px;
}
.footer__menu__text {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0;
}
.footer__menu:last-child {
  margin-right: 0;
}
.footer__subscribe {
  background-color: #2e3040;
  display: flex;
  padding: 80px 40px;
  margin-bottom: 40px;
}
.footer__subscribe__header {
  width: 50%;
}
.footer__subscribe__header h1 {
  font-family: "Sen";
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 0;
}
.footer__subscribe__form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer__subscribe__form input {
  background-color: #2e3040;
  border: 1px solid #454549;
  padding: 18px 16px;
  margin-right: 20px;
  width: 280px;
}
.footer__contact {
  display: flex;
  justify-content: space-between;
}
.footer__contact__container__address {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #6d6e76;
  margin-bottom: 5px;
}
.footer__contact__container__mail {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #6d6e76;
  margin-bottom: 0;
}
.footer__social_network {
  display: flex;
  justify-content: space-between;
}
.footer__social_network__imgIcon {
  width: 16px;
  height: 16px;
  margin-right: 15px;
  filter: invert(37%) sepia(6%) saturate(328%) hue-rotate(188deg) brightness(89%) contrast(88%);
}
.footer__social_network__imgIcon:last-child {
  margin-right: 0px;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Sen";
  src: url("./../fonts/Sen-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.btn_yellow, .btn_white {
  border: none;
  padding: 16px 48px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn_yellow_text, .btn_white_text {
  font-family: "Sen", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.btn_white {
  background-color: #ffffff;
}
.btn_white:hover {
  background-color: white;
}
.btn_white:active {
  background-color: #e6e6e6;
  transform: scale(0.95);
}
.btn_yellow {
  background-color: #ffd050;
}
.btn_yellow:hover {
  background-color: #ffde83;
}
.btn_yellow:active {
  background-color: #ffc21d;
  transform: scale(0.95);
}
.chooseACategory__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.postedOnStartup__main__body {
  display: flex;
  align-items: center;
  background-image: url("./../img/homePage/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook-3772622.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
}
.postedOnStartup__container {
  margin: 0 80px 0 80px;
  width: 804px;
}
.postedOnStartup__container__name {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px;
}
.postedOnStartup__container__slogan {
  font-family: "Sen";
  font-size: 44px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.postedOnStartup__container__about {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 56px;
}
.postedOnStartup__author {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 20px;
}
.postedOnStartup__author__name {
  margin-right: 10px;
}
.postedOnStartup__author__name span {
  color: #ffd050;
}
.postedOnStartup__author__separator {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0px;
  margin-right: 10px;
}
.postedOnStartup__author__date {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0px;
}

.homePosts__main__body {
  padding: 120px 80px;
  display: flex;
  justify-content: center;
}
.homePosts__featured {
  width: 733px;
  margin-right: 20px;
}
.homePosts__featured__header {
  background-color: #ffffff;
  margin-bottom: 20px;
}
.homePosts__featured__header h1 {
  font-family: "Sen";
  font-size: 36px;
  font-weight: 700;
  color: #232536;
  margin-bottom: 0;
}
.homePosts__featured__content {
  border: 1px solid #dedee0;
  padding: 20px;
}
.homePosts__featured__content img {
  margin-bottom: 20px;
}
.homePosts__featured__content__header {
  font-family: "Sen";
  font-size: 28px;
  font-weight: 700;
  color: #232536;
  margin-bottom: 20px;
}
.homePosts__featured__content__description {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #6d6e76;
  margin-bottom: 30px;
}
.homePosts__featured__author {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.homePosts__featured__author__name {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #232536;
  margin-bottom: 0;
  margin-right: 10px;
}
.homePosts__featured__author__name span {
  color: #592ea9;
}
.homePosts__featured__author__separator {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #232536;
  margin-bottom: 0;
  margin-right: 10px;
}
.homePosts__featured__author__date {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #232536;
  margin-bottom: 0;
}
.homePosts__allPost {
  width: 517px;
}
.homePosts__allPost__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.homePosts__allPost__header h1 {
  font-family: "Sen";
  font-size: 36px;
  font-weight: 700;
  color: #232536;
  margin-bottom: 0;
}
.homePosts__allPost__header a {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #592ea9;
  margin-bottom: 0;
}
.homePosts__allPost__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homePosts__allPost__card {
  padding: 20px;
}
.homePosts__allPost__card__description {
  font-family: "Sen";
  font-size: 18px;
  font-weight: 700;
  color: #232536;
  margin-bottom: 0px;
}
.homePosts__allPost__card:hover {
  background-color: #fbf6ea;
}
.homePosts__allPost__author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.homePosts__allPost__author__name {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  color: #232536;
  margin-bottom: 0;
}
.homePosts__allPost__author__name span {
  color: #592ea9;
}
.homePosts__allPost__author__separator {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  color: #232536;
  margin-bottom: 0;
}
.homePosts__allPost__author__date {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  color: #232536;
  margin-bottom: 0;
}

.aboutUsAndOurMission {
  margin: 0 80px 0 80px;
}
.aboutUsAndOurMission__separation {
  display: flex;
}
.aboutUsAndOurMission__separation__first__block {
  background-color: #ffffff;
  height: 23px;
  width: 20%;
}
.aboutUsAndOurMission__separation__second__block {
  background-color: #ffd050;
  height: 23px;
  width: 60%;
}
.aboutUsAndOurMission__separation__third__block {
  background-color: #592ea9;
  height: 23px;
  width: 20%;
}
.aboutUsAndOurMission__container {
  display: flex;
  justify-content: center;
  background-color: #f4f0f8;
  padding: 100px 0;
}
.aboutUsAndOurMission__card {
  width: 515px;
}
.aboutUsAndOurMission__card h1 {
  font-family: "Sen";
  font-size: 36px;
  font-weight: 700;
  color: #232536;
  margin-bottom: 20px;
}
.aboutUsAndOurMission__card h2 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  color: #232536;
  margin-bottom: 20px;
}
.aboutUsAndOurMission__card__description {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #6d6e76;
  margin-bottom: 20px;
}
.aboutUsAndOurMission__reed__more_btn {
  font-family: "Sen";
  font-size: 16px;
  font-weight: 700;
  color: #592ea9;
  margin-bottom: 0;
}

.chooseACategory {
  padding: 120px 80px 120px 80px;
}
.chooseACategory__header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.chooseACategory__header h1 {
  font-family: "Sen";
  font-size: 36px;
  font-weight: 700;
  color: #232536;
  margin-bottom: 0;
}
.chooseACategory__card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-right: 20px;
  border: 1px solid #dedee0;
}
.chooseACategory__card img {
  margin-bottom: 15px;
  width: 48px;
  height: 48px;
  background-color: #fbf6ea;
}
.chooseACategory__card h2 {
  font-family: "Sen";
  font-size: 24px;
  font-weight: 700;
  color: #232536;
  margin-bottom: 15px;
}
.chooseACategory__card__description {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #6d6e76;
  margin-bottom: 15px;
}
.chooseACategory__card:hover {
  background-color: #ffd050;
}
.chooseACategory__card:last-child {
  margin-right: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=main.css.map */