.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 80px;
  @media (max-width: 1050px) {
    padding: 12px 40px;
  }
  @media (max-width: 930px) {
    padding: 12px 20px;
  }
  &__menu {
    display: flex;
    align-items: center;
    &__body {
      margin-right: 24px;
      &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      &__link {
        color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 24px;
      }

      &__text {
        @include textDeclaration('Inter', 16px, 400, $white, 0);
      }
    }
  }
}
