@import './../../../app/scss/abstracts/_textDeclaration.scss';
.WeStarted {
  .main_body {
    margin: 0 80px;
  }
  .container {
    position: relative;
    height: 100%;
    img {
      width: 949px;
      height: 705px;
    }
    .content_container {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      width: 706px;
      .content {
        padding: 80px;
        .we_started {
          h1 {
            margin: 0;
            @include textDeclaration('Sen', 44px, 700, #232536, 30px);
          }
          h2 {
            margin: 0;
            @include textDeclaration('Inter', 16px, 600, #232536, 25px);
          }
        }
      }
    }
    .description_text {
      margin: 0;
      @include textDeclaration('Inter', 16px, 400, #8f8f97, 30px);
    }
  }
}
