@import './../../../app/scss/abstracts/textDeclaration';
.WeAreFeaturedIn {
  .main_body {
    margin: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 160px;
      height: 32px;
    }
    .firs_text {
      margin: 0;
      @include textDeclaration('Inter', 16px, 400, #a7a8ad, 5px);
    }
    .second_text {
      margin: 0;
      @include textDeclaration('Sen', 22px, 700, #6d6e76, 0);
    }
  }
}
