.listOfAuthors {
  padding-top: 120px;

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    h1 {
      @include textDeclaration('Sen', 36px, 700, $black, 0);
    }
  }

  &__container {
    @extend %grid;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 40px;
    border: 1px solid $borderColor;

    h2 {
      @include textDeclaration('Sen', 24px, 700, $black, 5px);
    }

    &__img {
      margin-bottom: 15px;
      width: 128px;
      height: 128px;
    }

    &__description {
      @include textDeclaration('Inter', 16px, 400, $grayText, 15px);
    }

    &__social_networks {
      display: flex;
      justify-content: space-between;

      &__imgIcon {
        width: 16px;
        height: 16px;
        margin-right: 15px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }

    &:hover {
      background-color: $backGroundHoverCard;
    }
  }
}
