.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #232536;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 80px;
  @media (max-width: 1050px) {
    padding: 12px 40px;
  }
  @media (max-width: 930px) {
    padding: 12px 20px;
  }
}

.menu {
  display: flex;
  align-items: center;
}

.menu_body {
  margin-right: 24px;
  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &_link {
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 24px;
  }

  &_text {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
}
